@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  background-color: transparent!important;
  a.nav-link {
    color: black;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-title{
  color: seagreen;
  font-family: "Artifika", serif;
  font-size: 2rem;
}
